/* tailwind-calendar.css */
.react-calendar {
    width: 100%;
    border: none;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
  }
  
  .react-calendar__navigation {
    display: none;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    color: #4B5563; /* Gray-700 */
    padding-bottom: 0.25rem;
  }
  
  .react-calendar__month-view__days {
    gap: 0.25rem;
  }
  
  .react-calendar__tile {
    padding: 0.25rem 0;
    color: black;
  }
  .react-calendar__tile--active {
    @apply bg-orange-200 text-black rounded-xl;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    @apply bg-orange-300;
  }